<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.ui.actionSets">
   		<actionSet id="com.google.inject.tools.ideplugin.eclipse.findBindingsActionSet"
   		           label="Find Guice Bindings"
   		           visible="true">
   		    <menu id="org.eclipse.search.menu" label="&amp;Search">
   		      <separator name="internationalDialogGroup"/>
   		      <separator name="dialogGroup"/>
   		      <separator name="fileSearchContextMenuActionsGroup"/>
   		      <separator name="contextMenuActionsGroup"/>
   		      <separator name="occurencesActionsGroup"/>
   		      <separator name="extraSearchGroup"/>
   		    </menu>
   		    <menu id="com.google.inject.tools.ideplugin.eclipse.menu" 
   		          label="&amp;Guice"
   		          path="org.eclipse.search.menu/extraSearchGroup">
   		      <separator name="actions"/>
   		      <separator name="modules"/>
   		      <separator name="options"/>
   		    </menu>
   			<action
               class="com.google.inject.tools.ideplugin.eclipse.FindBindingsAction"
               definitionId="com.google.inject.tools.ideplugin.eclipse.findBindingsCommand2"
               id="com.google.inject.tools.ideplugin.eclipse.bindings.findBindingsActionSetAction"
               label="Find &amp;Bindings"
               menubarPath="org.eclipse.search.menu/com.google.inject.tools.ideplugin.eclipse.menu/actions"/>
            <action
               class="com.google.inject.tools.ideplugin.eclipse.RunModulesNowAction2"
               definitionId="com.google.inject.tools.ideplugin.eclipse.runnowCommand2"
               id="com.google.inject.tools.ideplugin.eclipse.bindings.runnowActionSetAction"
               label="Run Modules &amp;Now"
               menubarPath="org.eclipse.search.menu/com.google.inject.tools.ideplugin.eclipse.menu/modules"/>
            <action
               class="com.google.inject.tools.ideplugin.eclipse.GuicePluginConfigureAction2"
               definitionId="com.google.inject.tools.ideplugin.eclipse.configureCommand2"
               id="com.google.inject.tools.ideplugin.eclipse.bindings.configureActionSetAction"
               label="&amp;Configure"
               menubarPath="org.eclipse.search.menu/com.google.inject.tools.ideplugin.eclipse.menu/options"/>
   		</actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="com.google.inject.tools.ideplugin.eclipse.bindings.objectContribution"
            nameFilter="*"
            objectClass="org.eclipse.jdt.core.IJavaElement">
         <menu label="&amp;Guice" path="additions"
           	id="com.google.inject.tools.ideplugin.eclipse.objectmenu.guice">
         	<separator name="actions"/>
         	<separator name="modules"/>
         	<separator name="options"/>
         </menu>
         <action
             class="com.google.inject.tools.ideplugin.eclipse.BindingsObjectAction"
             definitionId="com.google.inject.tools.ideplugin.eclipse.findBindingsCommand"
             enablesFor="1"
             id="com.google.inject.tools.ideplugin.eclipse.bindings.objectContributionAction"
             label="Find &amp;Bindings"
             menubarPath="com.google.inject.tools.ideplugin.eclipse.objectmenu.guice/actions"/>
         <action
         	   class="com.google.inject.tools.ideplugin.eclipse.GuicePluginConfigureAction"
         	   definitionId="com.google.inject.tools.ideplugin.eclipse.configureCommand"
         	   enablesFor="*"
         	   id="com.google.inject.tools.ideplugin.eclipse.objectguiceconfigpluginaction"
         	   label="&amp;Configure..."
         	   menubarPath="com.google.inject.tools.ideplugin.eclipse.objectmenu.guice/options"/>
         <action
         	   class="com.google.inject.tools.ideplugin.eclipse.RunModulesNowAction"
         	   definitionId="com.google.inject.tools.ideplugin.eclipse.runnowCommand"
         	   enablesFor="*"
         	   id="com.google.inject.tools.ideplugin.eclipse.objectrunmodulesaction"
         	   label="&amp;Run Modules Now"
         	   menubarPath="com.google.inject.tools.ideplugin.eclipse.objectmenu.guice/modules"/>
         <action
         	   class="com.google.inject.tools.ideplugin.eclipse.RunModulesAutoAction"
         	   definitionId="com.google.inject.tools.ideplugin.eclipse.runautoCommand"
         	   style="toggle"
         	   state="false"
         	   enablesFor="*"
         	   id="com.google.inject.tools.ideplugin.eclipse.objectrunmodulesautomaticallyaction"
         	   label="Run Modules Automatically"
         	   menubarPath="com.google.inject.tools.ideplugin.eclipse.objectmenu.guice/modules"/>
      </objectContribution>
      <viewerContribution
      		id="com.google.inject.tools.ideplugin.eclipse.bindings.viewerContribution"
      		targetID="#CompilationUnitEditorContext">
      	 <menu label="&amp;Guice" path="additions"
         	id="com.google.inject.tools.ideplugin.eclipse.viewermenu.guice">
         	<separator name="actions"/>
         	<separator name="modules"/>
         	<separator name="options"/>
         </menu>
      	 <action
      	 	 	class="com.google.inject.tools.ideplugin.eclipse.BindingsEditorAction"
      	 	 	definitionId="com.google.inject.tools.ideplugin.eclipse.findBindingsCommand"
      	 	 	id="com.google.inject.tools.ideplugin.eclipse.bindings.viewerContributionAction"
      	 	 	label="Find &amp;Bindings"
      	 	 	menubarPath="com.google.inject.tools.ideplugin.eclipse.viewermenu.guice/actions"/>
		 <action
         	   class="com.google.inject.tools.ideplugin.eclipse.GuicePluginConfigureAction"
         	   definitionId="com.google.inject.tools.ideplugin.eclipse.configureCommand"
         	   enablesFor="*"
         	   id="com.google.inject.tools.ideplugin.eclipse.guiceconfigpluginaction"
         	   label="&amp;Configure..."
         	   menubarPath="com.google.inject.tools.ideplugin.eclipse.viewermenu.guice/options"/>
         <action
         	   class="com.google.inject.tools.ideplugin.eclipse.RunModulesNowAction"
         	   definitionId="com.google.inject.tools.ideplugin.eclipse.runnowCommand"
         	   enablesFor="*"
         	   id="com.google.inject.tools.ideplugin.eclipse.runmodulesaction"
         	   label="&amp;Run Modules Now"
         	   menubarPath="com.google.inject.tools.ideplugin.eclipse.viewermenu.guice/modules"/>
         <action
         	   class="com.google.inject.tools.ideplugin.eclipse.RunModulesAutoAction"
         	   definitionId="com.google.inject.tools.ideplugin.eclipse.runautoCommand"
         	   style="toggle"
         	   state="false"
         	   enablesFor="*"
         	   id="com.google.inject.tools.ideplugin.eclipse.runmodulesautomaticallyaction"
         	   label="Run Modules Automatically"
         	   menubarPath="com.google.inject.tools.ideplugin.eclipse.viewermenu.guice/modules"/>
      </viewerContribution>
   </extension>
   <extension
   		 id="com.google.inject.tools.ideplugin.viewextension"
         point="org.eclipse.ui.views">
      <category
            id="Guice_Plugin"
            name="Guice"/>
      <view
            allowMultiple="false"
            category="Guice_Plugin"
            class="com.google.inject.tools.ideplugin.eclipse.EclipseResultsView"
            icon="icons/sample.gif"
            id="com.google.inject.tools.ideplugin.eclipse.EclipseResultsView"
            name="Guice Bindings"/>
      <view
      		allowMultiple="false"
      		category="Guice_Plugin"
      		class="com.google.inject.tools.ideplugin.eclipse.EclipseErrorView"
      		icon="icons/sample.gif"
      		id="com.google.inject.tools.ideplugin.eclipse.EclipseErrorView"
      		name="Guice Error Log"/>
   </extension>
   <extension point="org.eclipse.ui.perspectiveExtensions">
   	 <perspectiveExtension targetID="com.google.inject.tools.ideplugin.perspective">
   	 	<viewShortcut id="com.google.inject.tools.ideplugin.viewextension"/>
   	 	<view id="com.google.inject.tools.ideplugin.Guice"
   	 		relative="org.eclipse.ui.TaskList"
   	 		relationship="stack"/>
   	 </perspectiveExtension>
   </extension>
   <extension point="org.eclipse.ui.commands">
     <category id="com.google.inject.tools.ideplugin.eclipse.guice"
     		   name="Guice Commands"/>
     <command categoryId="com.google.inject.tools.ideplugin.eclipse.guice"
              id="com.google.inject.tools.ideplugin.eclipse.findBindingsCommand2"
              name="Find Guice Bindings"/>
     <command categoryId="com.google.inject.tools.ideplugin.eclipse.guice"
              id="com.google.inject.tools.ideplugin.eclipse.configureCommand2"
              name="Configure Guice Plugin"/>
     <command categoryId="com.google.inject.tools.ideplugin.eclipse.guice"
              id="com.google.inject.tools.ideplugin.eclipse.runnowCommand2"
              name="Run Guice Module Contexts Now"/>
   </extension>
</plugin>
