<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="com.google.inject.tools.ideplugin.eclipse.bindings.objectContribution"
            nameFilter="*"
            objectClass="org.eclipse.jdt.core.IJavaElement">
         <menu label="&amp;Guice" path="additions"
           	id="com.google.inject.tools.ideplugin.eclipse.objectmenu.guice">
         	<separator name="actions"/>
         	<separator name="modules"/>
         	<separator name="options"/>
         </menu>
         <action
             class="com.google.inject.tools.ideplugin.eclipse.BindingsObjectAction"
             definitionId="com.google.inject.tools.ideplugin.eclipse.findBindingsCommand"
             enablesFor="1"
             id="com.google.inject.tools.ideplugin.eclipse.bindings.objectContributionAction"
             label="Find &amp;Bindings"
             menubarPath="com.google.inject.tools.ideplugin.eclipse.objectmenu.guice/actions"/>
         <action
         	   class="com.google.inject.tools.ideplugin.eclipse.GuicePluginConfigureAction"
         	   definitionId="com.google.inject.tools.ideplugin.eclipse.configureCommand"
         	   enablesFor="*"
         	   id="com.google.inject.tools.ideplugin.eclipse.guiceconfigpluginaction"
         	   label="&amp;Configure..."
         	   menubarPath="com.google.inject.tools.ideplugin.eclipse.objectmenu.guice/options"/>
         <action
         	   class="com.google.inject.tools.ideplugin.eclipse.RunModulesNowAction"
         	   definitionId="com.google.inject.tools.ideplugin.eclipse.runnowCommand"
         	   enablesFor="*"
         	   id="com.google.inject.tools.ideplugin.eclipse.runmodulesaction"
         	   label="&amp;Run Modules Now"
         	   menubarPath="com.google.inject.tools.ideplugin.eclipse.objectmenu.guice/modules"/>
         <action
         	   class="com.google.inject.tools.ideplugin.eclipse.RunModulesAutoAction"
         	   definitionId="com.google.inject.tools.ideplugin.eclipse.runautoCommand"
         	   style="toggle"
         	   state="false"
         	   enablesFor="*"
         	   id="com.google.inject.tools.ideplugin.eclipse.runmodulesautomaticallyaction"
         	   label="Run Modules Automatically"
         	   menubarPath="com.google.inject.tools.ideplugin.eclipse.objectmenu.guice/modules"/>
      </objectContribution>
      <viewerContribution
      		id="com.google.inject.tools.ideplugin.eclipse.bindings.viewerContribution"
      		targetID="#CompilationUnitEditorContext">
      	 <menu label="&amp;Guice" path="additions"
         	id="com.google.inject.tools.ideplugin.eclipse.viewermenu.guice">
         	<separator name="actions"/>
         	<separator name="modules"/>
         	<separator name="options"/>
         </menu>
      	 <action
      	 	 	class="com.google.inject.tools.ideplugin.eclipse.BindingsEditorAction"
      	 	 	definitionId="com.google.inject.tools.ideplugin.eclipse.findBindingsCommand"
      	 	 	id="com.google.inject.tools.ideplugin.eclipse.bindings.viewerContributionAction"
      	 	 	label="Find &amp;Bindings"
      	 	 	menubarPath="com.google.inject.tools.ideplugin.eclipse.viewermenu.guice/actions"/>
		 <action
         	   class="com.google.inject.tools.ideplugin.eclipse.GuicePluginConfigureAction"
         	   definitionId="com.google.inject.tools.ideplugin.eclipse.configureCommand"
         	   enablesFor="*"
         	   id="com.google.inject.tools.ideplugin.eclipse.guiceconfigpluginaction"
         	   label="&amp;Configure..."
         	   menubarPath="com.google.inject.tools.ideplugin.eclipse.viewermenu.guice/options"/>
         <action
         	   class="com.google.inject.tools.ideplugin.eclipse.RunModulesNowAction"
         	   definitionId="com.google.inject.tools.ideplugin.eclipse.runnowCommand"
         	   enablesFor="*"
         	   id="com.google.inject.tools.ideplugin.eclipse.runmodulesaction"
         	   label="&amp;Run Modules Now"
         	   menubarPath="com.google.inject.tools.ideplugin.eclipse.viewermenu.guice/modules"/>
         <action
         	   class="com.google.inject.tools.ideplugin.eclipse.RunModulesAutoAction"
         	   definitionId="com.google.inject.tools.ideplugin.eclipse.runautoCommand"
         	   style="toggle"
         	   state="false"
         	   enablesFor="*"
         	   id="com.google.inject.tools.ideplugin.eclipse.runmodulesautomaticallyaction"
         	   label="Run Modules Automatically"
         	   menubarPath="com.google.inject.tools.ideplugin.eclipse.viewermenu.guice/modules"/>
      </viewerContribution>
   </extension>
   <extension
   		 id="com.google.inject.tools.ideplugin.viewextension"
         point="org.eclipse.ui.views">
      <category
            id="Guice_Plugin"
            name="Guice"/>
      <view
            allowMultiple="false"
            category="Guice_Plugin"
            class="com.google.inject.tools.ideplugin.eclipse.EclipseResultsView"
            icon="icons/sample.gif"
            id="com.google.inject.tools.ideplugin.eclipse.EclipseResultsView"
            name="Guice Bindings"/>
      <view
      		allowMultiple="false"
      		category="Guice_Plugin"
      		class="com.google.inject.tools.ideplugin.eclipse.EclipseErrorView"
      		icon="icons/sample.gif"
      		id="com.google.inject.tools.ideplugin.eclipse.EclipseErrorView"
      		name="Guice Error Log"/>
   </extension>
   <extension point="org.eclipse.ui.perspectiveExtensions">
   	 <perspectiveExtension targetID="com.google.inject.tools.ideplugin.perspective">
   	 	<viewShortcut id="com.google.inject.tools.ideplugin.viewextension"/>
   	 	<view id="com.google.inject.tools.ideplugin.Guice"
   	 		relative="org.eclipse.ui.TaskList"
   	 		relationship="stack"/>
   	 </perspectiveExtension>
   </extension>
   <extension point="org.eclipse.ui.commands">
     <command categoryId="com.google.inject.tools.ideplugin.eclipse.guice"
              id="com.google.inject.tools.ideplugin.eclipse.findBindingsCommand"
              name="Find Guice Bindings"/>
     <command categoryId="com.google.inject.tools.ideplugin.eclipse.guice"
              id="com.google.inject.tools.ideplugin.eclipse.configureCommand"
              name="Configure Guice Plugin"/>
     <command categoryId="com.google.inject.tools.ideplugin.eclipse.guice"
              id="com.google.inject.tools.ideplugin.eclipse.runnowCommand"
              name="Run Guice Module Contexts Now"/>
     <command categoryId="com.google.inject.tools.ideplugin.eclipse.guice"
              id="com.google.inject.tools.ideplugin.eclipse.runautoCommand"
              name="Run Guice Module Contexts Automatically"/>
   </extension>
   <extension point="org.eclipse.ui.bindings">
     <key commandId="com.google.inject.tools.ideplugin.eclipse.findBindingsCommand"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence=""/>
     <key commandId="com.google.inject.tools.ideplugin.eclipse.configureCommand"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence=""/>
     <key commandId="com.google.inject.tools.ideplugin.eclipse.runnowCommand"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence=""/>
     <key commandId="com.google.inject.tools.ideplugin.eclipse.runautoCommand"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence=""/>
   </extension>
</plugin>
